.date-highlight-container {
    color: #F7F7F7;
    display: block;
    padding-left: 10px;
}

.date-highlight-title {
    text-align: left;
    color: #FDED02;
}

.highlight-title {
    text-align: left;
    margin: 10px;
    color: #B5E4F4;
}