@font-face {
  font-family: "MyOwnFont";   /*Can be any text*/
  src: local("Web437_IBM_BIOS"), url("fonts/Web437_IBM_BIOS.woff") format("woff");
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #3B3B3B;
  font-family: "MyOwnFont", sans-serif;
}

body {
  margin: 0;
  font-family: 'MyOwnFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
